# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE
# =========================
.idea/
.vscode/
*.code-workspace

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Coverage / tests
# =========================
.coverage
htmlcov/

# =========================
# Cache / temp
# =========================
.cache/